
section.main-section-intro{
  width: 50vw;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  
  font-size: 1.5rem;
  line-height: 2.5rem;
  
  gap: 5rem;
}

h1.main-section-intro-title {
  width: 80%;
  font-family: var(--main-titles-font-family);
  font-weight: var(--main-titles-font-weight);
  color: var(--theme-color-accent);
}

div.main-subsection-intro{
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

h2.main-subsection-intro-title{
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  line-height: normal;
  padding: 0;
  margin: 0;
  font-family: var(--subsection-title-font-family);
}

div.main-subsection-intro-tech {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  border-top: 3px solid white;
  margin-top: 2rem;
  padding: 2rem;
  gap: 1rem;
}

h3.main-subsection-intro-tech-title{
  font-family: var(--subsection-title-font-family);
}

ul.main-section-intro-gallery-tech {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

li.main-section-intro-gallery-tech-item{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  width: 125px;
  height: 125px;

  padding: 10px;

  aspect-ratio: 1 / 1;
}

li.main-section-intro-gallery-tech-item > svg {
  width: 90%;
  height: fit-content;
  aspect-ratio: 1 / 1;
}

h4.main-section-intro-gallery-tech-item-title{
  font-family: var(--subsection-title-font-family);
  /* color: black; */
}