section.main-section{
  width: 90vw;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
  line-height: 2.5rem;
}

h1.main-section-title {
  width: 60vw;
  font-family: var(--main-titles-font-family);
  font-weight: var(--main-titles-font-weight);
  color: var(--main-titles-font-color);
}

div.main-subsection{
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

h2.main-subsection-title{
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  font-family: var(--subsection-title-font-family);
}

div.main-subsection-content{
  width: 60%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

div.main-subsection-content > 
h3.main-subsection-title{
  font-family: var(--subsection-title-font-family);
}


section#aboutme.main-section > 
div.main-subsection >
div.main-subsection-content >
ul.grid-list {
  width: 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

main > 
section#aboutme.main-section > 
div.main-subsection >
div.main-subsection-content >
ul.grid-list >
li.grid-list-item {
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  
  max-width: max-content;
}

main > 
section#aboutme.main-section > 
div.main-subsection >
div.main-subsection-content >
ul.grid-list >
li.grid-list-item >
svg {
  width: 60px;
  height: fit-content;
  min-height: 70px;
}

main > 
section#aboutme.main-section > 
div.main-subsection >
div.main-subsection-content >
ul.grid-list >
li.grid-list-item >
h4.list-item-title {
  font-family: var(--subsection-title-font-family);
  font-size: 1.3rem;
  height: max-content;
  line-height: normal;
}