div.single-project-gallery
{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

svg.single-project-gallery-arrow{
  position: absolute;
  z-index: 500;
  width: 3rem;
  height: 3rem;
  fill: rgba(255, 255, 255, 0.2);
}

svg.single-project-gallery-arrow:hover{
  fill: rgba(255, 255, 255, 1);
  cursor:pointer;
}

svg.gallery-arrow-left{
  left: 2rem;
}

svg.gallery-arrow-right{
  right: 2rem;
}

ul.single-project-gallery-image{
  position: relative;

  max-width: 50vw;
  width: fit-content;

  aspect-ratio: 18 / 12;
  /* border: 2px solid var(--theme-color-accent); */
  border-radius: 10px;

  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  overflow: hidden;
}

li.single-project-gallery-image-item{

  padding: 2rem;
  width: 100%;
  min-width: 100%;

  translate: -000% 0;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
}

li.single-project-gallery-image-item > img {
  display: block;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center center;
  align-self: center;
  border-radius: 10px;
}