.project_image_gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  gap: 1rem;

  margin-top: 5rem;
}

.gallery_img_wrp {
  width: 20rem;

  overflow: hidden;
  border-radius: 1rem;
}

.gallery_img {
  width: 100%;
}

.gallery_img:hover {
  cursor: pointer;
}

.lightbox_overlay {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  overflow: auto;
}

.lightbox_content {
  width: 100svw;
  height: 100svh;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.lightbox_img {
  max-width: 100%;
}

.close_button {
  position: absolute;

  width: 2rem;
  height: 2rem;
  
  font-size: 2rem;
  font-weight: 900;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  top: 2rem;
  right: 2rem;
}

@media screen and (min-width: 1200px) {
  .lightbox_img {
    max-width: none;
    max-height: 80svh;
  }
}