.card_list_container{
  color: white;
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  position: relative;
}

.card_list_decoration{
  --decoration: 7px;

  position: absolute;
  content: "";
  width: 10%;
  max-width: 200px;
  aspect-ratio: 1 / 1;
  
  /* clip-path: polygon(
    0 0, 
    calc(50% + var(--decoration)) 0, 
    50% var(--decoration),
    var(--decoration) var(--decoration),
    var(--decoration) 50%,
    0 calc(50% + var(--decoration)),
    0 0
    ); */

  clip-path: polygon(
    0 0, 
    calc(50%) 0, 
    50% var(--decoration),
    var(--decoration) var(--decoration),
    var(--decoration) 50%,
    0 calc(50%),
    0 0
    );

  background:
    linear-gradient(to right, rgb(16, 199, 223), rgb(22, 60, 116));


  transition: aspect-ratio 250ms;
}

.card_list_decoration:nth-child(1) {
  top: 0;
  left: 0;
}
.card_list_decoration:nth-child(2) {
  bottom: 0;
  right: 0;
  
  background:
    linear-gradient(to right bottom, rgb(16, 199, 223), rgb(22, 60, 116));
  /* clip-path: polygon(
    100% 100%,
    calc(50% - var(--decoration)) 100%,
    50% calc(100% - var(--decoration)),
    calc(100% - var(--decoration)) calc(100% - var(--decoration)),
    calc(100% - var(--decoration)) calc(50%),
    100% calc(50% - var(--decoration))
  ); */
  clip-path: polygon(
      100% 100%,
      calc(50%) 100%,
      50% calc(100% - var(--decoration)),
      calc(100% - var(--decoration)) calc(100% - var(--decoration)),
      calc(100% - var(--decoration)) calc(50%),
      100% calc(50%));
}

.card_list_container:hover .card_list_decoration {
  aspect-ratio: 1 / 5;
}

.card_list_title{
  font-family: var(--font-subtitle);
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;

  position: absolute;
}

.card_list{
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 50px;
}

@media screen and (min-width: 993px) {
  .card_list_container {
    width: 70%;
  }

  .card_list {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
}