.header_logo {
  font-family: var(--font-subtitle);
  font-size: 1rem;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;

  flex: 0 1 20%;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header_socials {
  position: relative;

  font-family: var(--font-subtitle);
  font-size: 0.5rem;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: rgb(0, 0, 0);
  
  width: 200px;
  height: 50px;
  gap: 10px;

  z-index: 11;

  overflow: hidden;
}

.header_menu_drop_title{
  position: absolute;
  z-index: 5;

  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-self: center;

  background: black;

  pointer-events: none;
}

.header_socials_link {
  position: absolute;
  background: pink;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  translate: 0 0%;
}

.header_menu_drop_title:hover ~ .header_socials_link:nth-child(2){
  translate: 0 200%;
}

.header_socials_link:nth-child(1)
.header_socials_link:nth-child(2){
  translate: 0 200%;
}

.header_socials_link:hover{
  color: #15d1d8;
}

.header_nav {
  height: 100%;
  flex: 0 1 60%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  gap: 25px;
}

.header_nav_link {
  font-family: var(--font-subtitle);
  font-size: 0.75rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: white;

  width: 150px;
  height: 1rem;
  
  background: 
  linear-gradient(to right, var(--header-background), var(--header-background)) padding-box,
  linear-gradient(to right, #15d1d8, #198cb9) border-box
  ;
  
  
  border: 2px solid transparent;
  border-radius: 10px;
  
  padding: 1rem 0;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  
  position: relative;
  z-index: 1;
}

.header_nav_link::before{
  position: absolute;
  content: "";
  background: linear-gradient(to right, #15d1d8, #198cb9) padding-box;
  border-radius: 5px;

  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: -1;

  transition: width 100ms;
}

.header_nav_link:hover::before{
  width: 100%;
}

.header_nav_link:visited {
  color: white
}

.nav_menus {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}