.header_container{
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  
  position: relative;
}

.menu_button {
  position: absolute;

  width: 30px;
  height: 15px;
  right: 15px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;

  z-index: 1000;
}

.menu_button > span {
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  transition: all 250ms;
}

.header_logo {
  position: absolute;

  max-width: 50%;

  font-family: var(--font-subtitle);
  font-size: 1rem;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;

  flex: 1 1 20%;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  text-align: left;
  
  top: 50%;
  left: 15px;
  
  transform: translateY(-50%);
  
  z-index: 100;
}

.nav_menus{
  flex: 1 1 80%;
  width: 100%;
  height: calc(100vh - 100px);

  position: absolute;

  top: 100%;
  left: 0;

  translate: 0 calc(-100% - 100px);

  background: var(--header-background-full);

  transition: all 250ms;
}

.nav_menus.open {
  translate: 0 0;
}

.nav_container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
}

@media screen and (min-width: 993px) {
  .header_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  .header_logo {
    position: static;

    top: 0;
    left: 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    transform: none;

    flex: 1 1 25%;
  }

  nav.nav_menus {
    position: static;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 0;

    top: 0;
    translate: 0 0;
    height: 100%;

    flex: 1 1 75%;
  }

  .nav_container {
    position: static;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    height: 100%;
  }
}