.intro{
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  gap: 5px;
  
  align-self: center;
}

.intro_title{
  font-family: "VT323", monospace;
  font-size: 1.25rem;
  padding: 10px;
}

.intro_description{
  font-size: 1.75rem;
}

@media screen and (min-width: 993px) {
  .intro{
    width: 70%;
  }

  .intro_title{ 
    font-size: 1.75rem;
  }
}
