.intro{
  margin-top: 50px;
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  
  align-self: center;
}

.intro_title{
  font-family: "VT323", monospace;
  font-size: 1.65rem;
  padding: 10px;
}

.intro_description{
  font-size: 1.75rem;
}
