@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --theme-main-background-color: #133346;
  --theme-font-primary: Arial, Helvetica, sans-serif;
  --header-background: rgba(26, 45, 85, 0.75);
  --header-background-full: rgba(26, 45, 85, 1);

  --font-subtitle: "Press Start 2P", system-ui;
  --font-title: 'Recursive', monospace;
  --font-paragraph: "Rubik", sans-serif;

  --color-background: #010d14;
  /* --color-background: #02121b; */
  --color-highlight: #00b7ff;

  --size-height-header: 5rem;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  background: var(--color-background);
  font-family: 'Roboto';
}

.content {
  max-width: 90svw;
}

@media screen and (min-width: 768px) {
  .content {
    max-width: 90svw;
  }
}

@media screen and (min-width: 992px) {
  .content {
    max-width: max(800px, 75svw);
  }
}

@media screen and (min-width: 1200px) {
  .content {
    max-width: max(1100px, 50svw);
  }
}