:root{
  --theme-main-background-color: rgb(7, 18, 41);
  --theme-font-primary: Arial, Helvetica, sans-serif;
  --header-background: rgb(25, 51, 107);
}

body{
  background: var(--theme-main-background-color);
  font-family: var(--theme-font-primary);

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  overflow-x: hidden;
  color: white;
}

#root{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

a{
  text-decoration: none;
  color: white;
}

a:visited{
  color: white;
}

header{
  height: 90px;
  padding: 10px;
  background: var(--header-background);

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  z-index: 1000;

  position: sticky;
  top: 0;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}